/*#inputBox {
	width: 300px;
	height: 100px;
}

#tweets {
	margin-top: 40px;
}

.tweet {
	box-sizing: border-box;
	padding: 10px;
	width: 300px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
}*/

ul {
	list-style: none;
	padding: 0;
	margin:0;
	width:500px;
}

li {
	border: 1px solid #ccc;
	background: #eee;
	padding: 5px 10px;
	color: #000;
}

li span{
	padding-left: 10px;
}
.checked{
		text-decoration: line-through;
}